.contact-form-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .7rem;
    margin-right: 1rem;
}

.contact-input {
    font-size: 1.3rem;
    display: grid;
    grid-template-columns: 3fr 7fr;
    align-items: center;
    justify-content: center;
    text-align: end;
    gap: .6rem;
    width: 100%;
}

.contact-input>input {
    padding-left: 1rem;
    border: 2px solid black;
    border-radius: 5px;
    font-size: x-large;
    height: 4vw;
    outline: none;
}

.contact-input>textarea {
    font-size: x-large;
    height: 10rem;
    padding: 1rem;
    resize: none;
    border: 2px solid black;
    border-radius: 5px;
    outline: none;
}

.contact-submit {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.contact-submit>button {
    width: 10vw;
    font-size: 2vw;
}


@media only screen and (max-width: 770px) {

    .contact-form-section {
        margin: 2vw;
    }

    .contact-input>textarea {
        font-size: 2vw;
    }

    .contact-input {
        font-size: 4vw;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .contact-input>label {
        display: none;
    }

    .contact-input>input {
        width: 100%;
        padding-left: 3vw;
        font-size: 1rem;
        height: 3rem;
    }

    .contact-input>input::placeholder .contact-input>textarea::placeholder {
        font-size: 4.2vw;
    }

    .contact-input>textarea {
        width: 100%;
        font-size: 1rem;
        height: 10rem;
        padding: 1rem;
    }

    .contact-submit {
        flex-direction: column;
        height: fit-content;
        align-items: flex-end;
    }

    .contact-submit>button {
        width: 8rem;
        font-size: 4vw;
    }

}