.profile-detail-section {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 25px;
    background-color: #f3d2bc;
}

.photo-and-connect {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.photo-profile-section {
    overflow: hidden;
    outline: 2px solid white;
    height: 22vw;
    width: 22vw;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

.photo-profile-section>img {
    height: 100%;
    width: 100%;
}

.connect-profile-section {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .3vw;
    border-radius: 5px;
}

.profile-link>a>img {
    height: 2.5vw;
    padding: 0;
    border-radius: 5px;
}

.profile-detail {
    height: 100%;
    width: 100%;
    padding-top: 1rem;
}

.profile-detail>h1{
  font-size: 2.25rem;
}


.profile-detail>p {
    font-size: 1.3vw;
    /* color: white; */
}

@media only screen and (max-width: 770px) {

    .profile-detail-section {
        padding: 4vw 2vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 3vw;
    }

    .photo-and-connect {
        height: 100%;
        width: 33%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .5rem;
    }

    .photo-profile-section {
        height: unset;
        width: 100%;
    }

    .photo-profile-section>img {
        height: 32vw;
        width: 34vw;
    }

    .connect-profile-section {
        margin: 0;
        flex-direction: row;
        gap: .4vw;
    }


    .profile-link>a>img {
        height: 5vw;
    }

    .profile-detail {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        overflow-y: auto;
        width: 60%;
    }

    .profile-detail>h1 {
        font-size: 1.5rem;
    }

    .profile-detail>p {
        font-size: .75rem;
        text-align: left;
    }
}