.main-card-section {
    margin: 1.8vw 2vw 0 2vw;
    padding: 1vw;
    border: 2px solid black;
    border-radius: 5px;
}


@media only screen and (max-width: 770px) {
    .main-card-section{
        margin: 0rem 2vw 1.8vw 2vw;
    }
}