.slide-enter {
    transform: translateX(-10rem);
}

.slide-enter-active {
    transform: translateX(0);
    transition: transform 800ms ease-in-out;
}

.slide-exit {
    transform: translateX(0);
}

.slide-exit-active {
    transform: translateX(-120%);
    transition: transform 800ms ease-in-out;
}

.success-modal {
    z-index: 100;
    bottom: 3.2%;
    left: 2%;
    padding: 0 2rem;
    position: fixed;
    background-color: #6A9C89;
    outline: 1px solid white;
    box-shadow: 0 2px 4px black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 2.8rem;
}

@media only screen and (max-width: 770px) {
    .success-modal {
        top: 2.4%;
        padding: .1rem .1rem;
        height: 1.6rem;
    }

    .success-modal>h2{
        font-size: 7vw;
    }
}


