@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.success-modal {
    z-index: 100;
    bottom: 2%;
    left: 2%;
    padding: 0 2rem;
    position: fixed;
    background-color: #6A9C89;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 3rem;
    animation-duration: 1s; 
    animation-timing-function: ease-in-out;
}

.success-modal-enter {
    animation: slideIn forwards;
}

.success-modal-exit {
    animation: slideOut forwards;
}


@media only screen and (max-width: 770px) {
    .success-modal {
        top: 2.4%;
        padding: 0 .1rem;
        height: 2.2rem;
    }
}