.footer {
    width: 100%;
    margin: 0 2vw;
    width: 96%;
    position: fixed;
    bottom: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F7F8;
}

.footer-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
}

#footer-copyright {
    font-size: 1.8rem;
    color: gray;
}

.pages-link {
    color: white;
    background-color: black;
    padding: .5vw 1vw;
    font-size: larger;
    border-radius: 2px;
    text-decoration: none;
    outline: 2px solid black;
}

.pages-link:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}

.footer-links {
    display: flex;
    gap: .7rem;
    align-items: center;
}

.footer-links>a {
    text-decoration: none;
}

.footer-modal {
    height: 3rem;
}

.footer-freelance {
    display: flex;
    gap: 0.8vw;
}

.footer-freelance>h1 {
    border: 2px solid black;
    border-radius: 5px;
    font-size: 2rem;
}

.footer-freelance>img {
    height: 2rem;
}

#freelance-service {
    color: blue;
    border: 1px dotted blue;
    padding: .6rem .2rem;
    border-radius: 3px;
    text-align: justify;
}


@media only screen and (max-width: 770px) {

    #freelance-service {
        padding: .2rem .2rem;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer {
        position: relative;
        display: flex;
        bottom: unset;
        top: 0%;
        padding-top: 3.5vw;
        padding-bottom: 3.5vw;
    }

    .footer-main {
        font-size: 3vw;
    }

    .footer-links {
        font-size: 2.5vw;
        justify-content: center;
        gap: 2vw;
    }

    #footer-copyright {
        font-size: 6vw;
        color: gray;
    }

    .footer-freelance>h1 {
        font-size: 4.2vw;
        padding: .4rem .2rem;
    }

    .footer-freelance>img {
        display: none;
    }

    .pages-link {
        padding: 2vw;
        border-radius: 5px;
    }

}