@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.footer-section {
    display: flex;
    justify-content: center;
}

.footer {
    width: 94%;
    position: absolute;
    bottom: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
}

.footer-main>h3 {
    color: gray;
}

.pages-link {
    color: white;
    background-color: black;
    padding: .8vw 1vw;
    font-size: larger;
    border-radius: 15px;
    text-decoration: none;
    outline: 2px solid black;
    display: flex;
    align-items: center;
    
}

.pages-link:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}

.footer-links {
    display: flex;
    gap: .7rem;
    align-items: center;
}

.footer-links>a {
    text-decoration: none;
}

.footer-modal {
    height: 3rem;
}

.footer-freelance {
    display: flex;
    gap: 0.8vw;
}

.footer-freelance>h1 {
    border: 2px solid black;
    border-radius: 5px;
    font-size: 2rem;
}

.footer-freelance>img {
    height: 2rem;
}

#freelance-service {
    padding: .6rem .2rem;
}

#freelance-service:hover {
    text-decoration: underline;
    color: blue;
}

#freelance-service>span {
    color: blue;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.5rem;
}


@media only screen and (max-width: 770px) {

    #freelance-service {
        padding: .2rem .2rem;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer-section {
        margin: 0 4px;
    }

    .footer {
        position: relative;
        display: flex;
        bottom: unset;
        top: 0%;
        padding-top: 3.5vw;
        padding-bottom: 3.5vw;
    }

    .footer-main {
        font-size: 3vw;
    }

    .footer-links {
        font-size: 2.5vw;
        justify-content: center;
        gap: 2vw;
    }

    .footer-freelance>h1 {
        font-size: 4.2vw;
        padding: .4rem .2rem;
    }

    .footer-freelance>img {
        display: none;
    }

    .pages-link {
        border-radius: 5px;
        padding: 2vw;
        font-size: .8rem;
        font-weight: bold;
    }

    #freelance-service {
        display: flex;
        flex-direction: column;
    }

    #freelance-service>span {
        font-size: .8rem;
    }

    #freelance-service>span:nth-child(2) {
        margin-top: -12px;
    }

}