
* {
    font-family: 'IBM Plex Mono', monospace;
    color: #002415;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}


h1 {
    margin: 0;
}

.center {
    height: 40vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mobile {
    display: none;
}

.no-mobile{
    display: unset;
}

@media only screen and (max-width: 770px) {
    .center {
        height: 90vh;
    }

    #loading-error {
        width: 90%;
        font-size: 1rem;
    }

    .no-mobile {
        display: none;
    }

    .mobile {
        display: unset;
    }
}

.layout-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}